*,
*::before,
*::after {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #d0d0d0;
  font-family: "Roboto", sans-serif; }

.wrapper {
  background-color: #f8f8f8;
  width: 70%;
  margin: 2rem auto;
  box-shadow: 0 0rem 3rem rgba(225, 223, 223, 0.65); }

.main-title {
  display: none; }

.logo {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 4rem 0; }

.logo__img {
  width: 30rem; }

.secondary-title {
  color: #919191;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3rem; }

.type-select {
  padding: 2rem 10rem; }

.type-select__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem; }

.type-select__button {
  font-size: 1.8rem;
  border: none;
  padding: .8rem 3rem;
  color: white;
  background-color: #37b349;
  box-shadow: 0 0rem 0.5rem #919191; }

.type-select__button:hover {
  cursor: pointer; }

.type-select__button--rounded {
  border-radius: .7rem; }

.type-select__button--square-empty {
  background-color: #f8f8f8;
  color: #37b349;
  border: 0.2rem solid #37b349;
  box-sizing: border-box; }

.builder__controls {
  width: 55%;
  margin-left: 3rem;
  padding-top: 2rem;
  color: #737373;
  font-size: 1.5rem; }

.control__title {
  background-color: #e1dfdf;
  border-radius: .7rem;
  padding: 1rem;
  display: flex; }

.title {
  font-weight: 500;
  display: inline; }

.input-title {
  border: none;
  border-radius: .2rem;
  margin-left: .5rem;
  height: 2rem;
  padding-left: .5rem;
  width: 100%; }

.control__button {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #e1dfdf;
  border-radius: .7rem;
  width: 48%;
  box-sizing: border-box; }

.control__button-container {
  display: flex;
  justify-content: space-between; }

.container-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0; }

.border-radius,
.border-width {
  width: 30%; }

.builder-wrapper {
  display: flex;
  align-items: center; }

.final-button__container {
  width: 40%; }

.final-button__button {
  display: block;
  margin: 0 auto;
  font-size: 1.8rem;
  border: none;
  padding: .8rem 3rem;
  color: white;
  background-color: #37b349;
  border-radius: .7rem; }

.generate {
  padding: 2rem; }

.generate__button {
  display: block;
  margin: 2rem auto 2rem auto;
  font-size: 1.8rem;
  border: none;
  padding: .8rem 3rem;
  color: white;
  background-color: #37b349;
  border-radius: .7rem; }
