.builder__controls {
    width: 55%;
    margin-left: 3rem;
    padding-top: 2rem;
    color: $color-dark-1;
    font-size: 1.5rem;
}

.control__title {
    background-color: $color-primary-1;
    border-radius: .7rem;
    padding: 1rem;
    display: flex;
}

.title {
    font-weight: 500;
    display: inline;
}

.input-title {
    border: none;
    border-radius: .2rem;
    margin-left: .5rem;
    height: 2rem;
    padding-left: .5rem;
    width: 100%;
}

.control__button {
    margin: 2rem 0;
    padding: 2rem;
    background-color: $color-primary-1;
    border-radius: .7rem;
    width: 48%;
    box-sizing: border-box;
}

.control__button-container {
    display: flex;
    justify-content: space-between;
}

// .control__button--link {

// }

.container-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}

.border-radius,
.border-width {
    width: 30%;
}

.builder-wrapper {
    display: flex;
    align-items: center;
}

.final-button__container {
    width: 40%;
}

.final-button__button {
    display: block;
    margin: 0 auto;
    font-size: 1.8rem;
    border: none;
    padding: .8rem 3rem;
    color: white;
    background-color: $color-green-1;
    border-radius: .7rem;
}