.generate {
    padding: 2rem;
}

.generate__button {
    display: block;
    margin: 2rem auto 2rem auto;
    font-size: 1.8rem;
    border: none;
    padding: .8rem 3rem;
    color: white;
    background-color: $color-green-1;
    border-radius: .7rem;
}